Source: ilm-appliance-tools
Section: utils
Priority: optional
Build-Depends: debhelper (>= 3.0.5), perl (>= 5.24)
Maintainer: Jan Tomasek <jan.tomasek@3key.company>
Standards-Version: 4.5.1

Package: ilm-appliance-tools
Depends: ansible, dialog, bash-completion, gpg
Conflicts: czertainly-appliance-tools (<< 2.17.0)
Replaces: czertainly-appliance-tools (<< 2.17.0)
Architecture: all
Homepage: https://omnitrust.com
Description: Tools to manage ILM appliance tasks like
 ILM installation, upgrade, etc.

Package: czertainly-appliance-tools
Architecture: all
Depends: ilm-appliance-tools
Description: transitional package - replaced by ilm-appliance-tools
 This is a transitional dummy package. It can safely be removed
 after ilm-appliance-tools is installed.
